.post-title {
  word-wrap: break-word;
  font-style: italic;
  font-weight: bold;
}
.post-hr-content {
  position: relative;
  top:-31px;
  background-color:white;
  width:250px;
  margin-left:auto;
  margin-right:auto;
}
.semi-clear {
  opacity: .5;
}
.post-body {
  word-wrap: break-word;
}
